In [2]:
import pandas as pd
import numpy as np
import operator

In [3]:
pred = pd.read_csv('Results for 10000 trained.csv')
pred.head()

,Company_Name,CIF_Number,EYADA,AL Dhameen,MINHA Costing Analysis & Expense Reduction,Direct Lending,Marketing & PR,Business Consultancy and Mentoring,OQOOD legal services,Export Finance,ISTITHMAR (SME EQUITY)
0,"Bauer, Thornton and Blake",6685864841,0.023908,0.309585,0.029609,0.182009,0.020353,0.035813,0.029517,0.175103,0.076004
1,"Ali, Mullins and Salazar",1133813567,0.028225,0.306685,0.020923,0.173729,0.011574,0.083028,0.027189,0.187818,0.059247
2,"Cruz, Cox and Payne",8056131489,0.021613,0.350492,0.014090,0.193179,0.015980,0.020906,0.360859,0.121785,0.085262
3,Aguirre-Thomas,1975959467,0.028225,0.306685,0.018647,0.173729,0.011574,0.083028,0.027189,0.187818,0.059247
4,Bradley-Bennett,3237624298,0.034403,0.003157,0.047687,0.001448,0.019523,0.048015,0.031068,0.488486,0.000201

In [4]:
col_names = {'AL Dhameen':'AL_Dhameen', 
             'MINHA Costing Analysis & Expense Reduction':'MINHA_Costing_Analysis_and_Expense_Reduction', 
             'Direct Lending':'Direct_Lending', 'Marketing & PR':'Marketing_and_PR', 
             'Business Consultancy and Mentoring':'Business_Consultancy_and_Mentoring', 
             'OQOOD legal services':'OQOOD_legal_services', 'Export Finance':'Export_Finance', 
             'ISTITHMAR (SME EQUITY)':'ISTITHMAR_SME_EQUITY'}

pred.rename(col_names, axis=1, inplace=True)

In [5]:
df = pd.read_csv('synthetic_data_latest.csv')
df.head()

,Company Name,CIF Number,Sector Nm,Operations Start Date,Facility product Name,Match as per rating,Rating Description,Match as per Operational status,Match as per DPD Status
0,Abbott and Sons,6262535811,Tourism,04/26/2022,EYADA,1,Very low risk,Permanently closed,Defaulted
1,Abbott and Sons,6262535811,Tourism,08/08/2020,AL Dhameen,2,Low risk,Setup,Nil
2,Abbott and Sons,6262535811,Tourism,12/22/2020,MINHA Costing Analysis & Expense Reduction,4,High risk,Temporarily Closed,Defaulted
3,Abbott Group,9332362264,Food Processing,07/07/2020,Direct Lending,1,Very low risk,Setup,Nil
4,Abbott LLC,8730879310,Services,10/22/2020,Marketing & PR,5,Very high risk,Operational,Defaulted

In [6]:
df.loc[df['Facility product Name'] == "AL Dhameen", 'Facility product Name'] = 'AL_Dhameen'
df.loc[df['Facility product Name'] == "MINHA Costing Analysis & Expense Reduction", 'Facility product Name'] = 'MINHA_Costing_Analysis_and_Expense_Reduction'
df.loc[df['Facility product Name'] == "Direct Lending", 'Facility product Name'] = 'Direct_Lending'
df.loc[df['Facility product Name'] == "Marketing & PR", 'Facility product Name'] = 'Marketing_and_PR'
df.loc[df['Facility product Name'] == "Business Consultancy and Mentoring", 'Facility product Name'] = 'Business_Consultancy_and_Mentoring'
df.loc[df['Facility product Name'] == "OQOOD legal services", 'Facility product Name'] = 'OQOOD_legal_services'
df.loc[df['Facility product Name'] == "Export Finance", 'Facility product Name'] = 'Export_Finance'
df.loc[df['Facility product Name'] == "ISTITHMAR (SME EQUITY)", 'Facility product Name'] = 'ISTITHMAR_SME_EQUITY'

In [7]:
def refine_recommendation(rating, op_status, dpd_status, top_n_recommendation_list):
    if ((rating in [1 ,2]) & (op_status in ['Operational', 'Setup']) & (dpd_status == 'Nil') & ('AL_Dhameen' in top_n_recommendation_list)):
        pass
    else:
        if 'AL_Dhameen' in top_n_recommendation_list:
            top_n_recommendation_list.remove('AL_Dhameen')
    if (rating in [1 ,2]) & (op_status in ['Operational', 'Setup']) & (dpd_status == 'Nil') & ('ISTITHMAR (SME_EQUITY)' in top_n_recommendation_list):
        pass
    else:
        if 'ISTITHMAR (SME_EQUITY)' in top_n_recommendation_list:
            top_n_recommendation_list.remove('ISTITHMAR (SME_EQUITY)')
    if (rating in [1 ,2 ,3]) & (op_status in ['Operational', 'Setup']) & (dpd_status == 'Nil') & ('Export_Finance' in top_n_recommendation_list):
        pass
    else: 
        if 'Export_Finance' in top_n_recommendation_list:
            top_n_recommendation_list.remove('Export_Finance')
    if ((rating in [1 ,2]) & (op_status in ['Operational', 'Setup']) & (dpd_status == 'Nil') & ('Direct_Lending' in top_n_recommendation_list)):
        pass
    else: 
        if 'Direct_Lending' in top_n_recommendation_list:
            top_n_recommendation_list.remove('Direct_Lending')
    if ((rating in [1 ,2 ,3 ,4 ,5]) & (op_status in ['Operational', 'Setup']) & (dpd_status in ['Nil', 'Closed', 'Defaulted']) & ('Business_Consultancy_and_Mentoring' in top_n_recommendation_list)):
        pass
    else: 
        if 'Business_Consultancy_and_Mentoring' in top_n_recommendation_list:
            top_n_recommendation_list.remove('Business_Consultancy_and_Mentoring')
    if ((rating in [1 ,2 ,3 ,4 ,5]) & (op_status in ['Operational', 'Setup', 'Temporarily Closed', 'Cancelled']) & (dpd_status in ['Nil', 'Closed', 'Defaulted']) & ('Marketing_and_PR' in top_n_recommendation_list)):
        pass
    else:
        if 'Marketing_and_PR' in top_n_recommendation_list:
            top_n_recommendation_list.remove('Marketing_and_PR')
    if ((rating in [1 ,2 ,3 ,4 ,5]) & (op_status in ['Operational', 'Setup', 'Temporarily Closed', 'Permanently Closed']) & (dpd_status in ['Nil', 'Closed', 'Defaulted']) & ('MINHA_Costing_Analysis_and_Expense_Reduction' in top_n_recommendation_list)):
        pass
    else:
        if 'MINHA_Costing_Analysis_and_Expense_Reduction' in top_n_recommendation_list:
            top_n_recommendation_list.remove('MINHA_Costing_Analysis_and_Expense_Reduction')
    
    return top_n_recommendation_list

In [8]:
def gbdt_product_recommender(cif_num, top_n):
    pred_sub = pred[pred['CIF_Number']==cif_num]
    for index, rows in pred_sub.iterrows():
        my_list = {'EYADA':rows.EYADA, 'AL_Dhameen':rows.AL_Dhameen, 
                   'MINHA_Costing_Analysis_and_Expense_Reduction':rows.MINHA_Costing_Analysis_and_Expense_Reduction, 
                   'Direct_Lending':rows.Direct_Lending, 'Marketing_and_PR':rows.Marketing_and_PR, 
                   'Business_Consultancy_and_Mentoring':rows.Business_Consultancy_and_Mentoring, 
                   'OQOOD_legal_services':rows.OQOOD_legal_services, 'Export_Finance':rows.Export_Finance, 
                   'ISTITHMAR (SME_EQUITY)':rows.ISTITHMAR_SME_EQUITY}
        sorted_my_list = dict( sorted(my_list.items(), key=operator.itemgetter(1), reverse=True))
        top_n_recommendation = list(sorted_my_list.keys())[0:top_n]
        # print(f"Products recommended before refining: {top_n_recommendation}")
        df_sub = df[df['CIF Number']==cif_num]
        index_list = df[df['CIF Number']==cif_num].index.tolist()
        new_recommendations = []
        for i in index_list:
            rating = df_sub.at[i, 'Match as per rating']
            op_status = df_sub.at[i, 'Match as per Operational status']
            dpd_status = df_sub.at[i, 'Match as per DPD Status']
            new_top_n_recommendation = refine_recommendation(rating, op_status, dpd_status, top_n_recommendation_list=top_n_recommendation)
            top_n_recommendation = list(sorted_my_list.keys())[0:top_n]
            for j in new_top_n_recommendation:
                new_recommendations.append(j)
        new_recommendations = list(set(new_recommendations))
        # print(f"Products recommended after refining: {new_recommendations}")
    return new_recommendations

In [9]:
# gbdt_product_recommender(1975959467, 5)

In [10]:
# sorted_my_list = dict( sorted(my_list.items(), key=operator.itemgetter(1), reverse=True))
# sorted_my_list

In [11]:
inference_df = pd.DataFrame(columns = ['Company_Name', 'CIF_Number', 'Ground_Truth', 'Recommended_Matches', 'Count'])
inference_df['Company_Name'] = pred['Company_Name']
inference_df['CIF_Number'] = pred['CIF_Number']

In [12]:
product_gt = []
for num in list(pred['CIF_Number']):
    df1 = df[df['CIF Number']==num]
    sub_list = list(df1['Facility product Name'])
    sub_list = list(set(sub_list))
    product_gt.append(sub_list)

inference_df['Ground_Truth'] = product_gt

In [13]:
for i in range(len(pred)):
    cif_num = inference_df.at[i, 'CIF_Number']
    inference_df.at[i, 'Recommended_Matches'] = gbdt_product_recommender(cif_num, top_n=5)

In [14]:
inference_df

,Company_Name,CIF_Number,Ground_Truth,Recommended_Matches,Count
0,"Bauer, Thornton and Blake",6685864841,[AL_Dhameen],"[AL_Dhameen, Export_Finance, ISTITHMAR (SME_EQ...",NaN
1,"Ali, Mullins and Salazar",1133813567,[ISTITHMAR_SME_EQUITY],"[AL_Dhameen, Export_Finance, Direct_Lending, I...",NaN
2,"Cruz, Cox and Payne",8056131489,"[Direct_Lending, MINHA_Costing_Analysis_and_Ex...","[AL_Dhameen, Export_Finance, Direct_Lending, I...",NaN
3,Aguirre-Thomas,1975959467,"[Direct_Lending, MINHA_Costing_Analysis_and_Ex...","[AL_Dhameen, ISTITHMAR (SME_EQUITY), Export_Fi...",NaN
4,Bradley-Bennett,3237624298,"[Export_Finance, MINHA_Costing_Analysis_and_Ex...","[Export_Finance, EYADA, OQOOD_legal_services, ...",NaN
...,...,...,...,...,...
1995,"Cline, Turner and Franco",4924570915,"[OQOOD_legal_services, Direct_Lending, MINHA_C...","[ISTITHMAR (SME_EQUITY), EYADA, OQOOD_legal_se...",NaN
1996,Carey Inc,2714649531,[Direct_Lending],"[AL_Dhameen, Export_Finance, ISTITHMAR (SME_EQ...",NaN
1997,Bell Ltd,9419413771,"[Direct_Lending, EYADA, MINHA_Costing_Analysis...","[AL_Dhameen, Export_Finance, ISTITHMAR (SME_EQ...",NaN
1998,Clarke-Miller,9791243105,"[Direct_Lending, Business_Consultancy_and_Ment...","[AL_Dhameen, ISTITHMAR (SME_EQUITY), Export_Fi...",NaN
1999,"Allen, Smith and Jenkins",7122084029,"[Export_Finance, EYADA]","[ISTITHMAR (SME_EQUITY), EYADA, OQOOD_legal_se...",NaN

In [15]:
for i, index in zip(inference_df['Ground_Truth'], range(len(inference_df))):
    count = []
    for j in i:
        if j in inference_df.at[index, 'Recommended_Matches']:
            count.append(1)
        else:
            count.append(0)
    inference_df.at[index, 'Count'] = count

In [16]:
count = 0
for i in range(len(inference_df)):
    if 1 in inference_df.at[i, 'Count']:
        count += 1
count

1888

In [17]:
accuracy = count/len(inference_df)
print(f"Accuracy: {accuracy*100}%")

Accuracy: 94.39999999999999%

In [158]:
inference_df.to_csv('Top5 Recommendations.csv', index=False)

In [21]:
gbdt_product_recommender(8056131489, 3)

['OQOOD_legal_services', 'Direct_Lending', 'AL_Dhameen']